.about
  padding 50px 0
  background #f2f2f2
  border-bottom 6px solid #fff

  &__header
    color #666d89
    font-size 30
    font-weight 700
    margin-bottom 20px

  &__description
    color #767e9e
    font-size 18
    margin 0 0 30px
    line-height (30/18)

  &__photo-item
    margin-bottom 40px
    text-align center

  &__photo-img
    width 80%

  &__photo-name
    color #666d89
    font-size 18
    font-weight 700
    margin 10px 0

  &__photo-bio
    font-size 12
    color #767e9e
    line-height (18/12)
    margin 0 0 10px

  &__social-link
    text-indent -9999px
    display inline-block
    width 32px
    height 32px
    vertical-align top
    background url(../img/about/social-icons.png) no-repeat 0 0
    margin-right 5px

    &_gplus
      background-position -32px 0

    &_tw
      background-position -64px 0

    &_ln
      background-position -96px 0 