.footer
  height 75px
  padding 25px 0 0
  background #2d303a

  &__copyright
    color #666d89
    font-size 14
    padding 5px 0 0

  &__social-link
    text-indent -9999px
    display inline-block
    width 32px
    height 32px
    vertical-align top
    background url(../img/about/social-icons.png) no-repeat 0 0
    margin-left 8px

    &_gplus
      background-position -32px 0

    &_tw
      background-position -64px 0

    &_ln
      background-position -96px 0 