.portfolio
  background #2d303a
  padding 50px 0
  border-bottom 6px solid #323746

  &__header
    color #666d89
    font-weight 700
    font-size 30
    margin-bottom 30

  &__description
    color #767e9e
    font-size 18
    margin 0 0 10px

  &__tags
    margin-bottom 10px

  &__tags-link
    color #767e9e
    display inline-block
    padding 3px
    border 1px solid #767e9e
    font-size 12
    text-decoration none
    border-radius 3px
    margin-right 3px

    &:hover
      color #dedede
      border-color #dedede

  &__gallery-link
    display block
    margin 0 0 10px