.quote
  padding 60px 0
  background #f06c64
  border-bottom 6px solid #ea676b

  ::-webkit-input-placeholder
    color #f48c8f

  ::-moz-placeholder
    color #f48c8f
  
  :-ms-input-placeholder
    color #f48c8f

  &__header
    color #f0d8d9
    font-size 30
    font-weight 700
    margin-bottom 20px

  &__description
    color #f0d8d9
    font-weight 300
    font-size 18
    margin-bottom 30px

  &__label
    display block
    padding 10px 0

    &:first-child
      padding 0 0 10px

  &__input, &__textarea
    width 100%
    background #d6564f
    border 0
    border-radius 5px
    font-size 12
    color #f48c8f
    outline none

    &:focus
      background #bd4a44
    
  &__input
    padding 0 10px
    height 38px

  &__textarea
    padding 10px
    resize vertical
    min-height 170px

  &__info
    color #f0d8d9

  &__info-title
    font-size 18
    line-height 1
    margin 0 0 15px

  &__info-description
    font-size 12

  &__info-line
    position relative
    padding-left 18px
    margin 0 0 5px
    font-size 12

    &:before
      width 13px
      height 11px
      display inline-block
      content ""
      background url(../img/quote/icons.png) no-repeat 0 0
      position absolute
      left 0
      top 3px

    &_phone:before
      background-position 0 -11px

    &_email:before
      background-position 0 -22px