// Small devices (tablets, 768px and up)
@media (min-width: 768px)

  .grid
    width 750px

  [class*="column_sm-"]
    float left

  .column

    setColumn(sm, 12)

    createOffset(sm, 12)

  .slider
    
    .grid
      width 640px

// Medium devices (desktops, 992px and up)
@media (min-width: 992px)

  .grid
    width 960px

  [class*="column_md-"]
    float left

  .column

    setColumn(md, 12)

    createOffset(md, 12)

  .slider
    
    .grid
      width 820px

  .about
    
    &__photo-item
      text-align left

    &__photo-img
      width auto

// Large devices (large desktops, 1200px and up)
@media (min-width: 1170px)

  [class*="column_lg-"]
    float left

  .column

    setColumn(lg, 12)

    createOffset(lg, 12)