.slider
  padding 40px 0 80px
  background #f06c64
  border-bottom 6px solid #ea676b

  &__list
    position relative
    overflow visible !important
    padding 40px 0 0

  .slidesjs-navigation
    position absolute
    top 50%
    left -10%
    width 16px
    margin-left 32px
    height 27px
    margin-top -13px
    display block
    background url(../img/slider/arrows.png) no-repeat 0 0
    text-indent -9999px
    z-index 999

    &.slidesjs-next
      left 110%
      margin-left -50px
      background-position -16px 0

  .grid
    width 580px